<div id="checkbox-widget-{{name}}" >
  <input type="text" name="{{ name }}" id="id_{{name}}"  v-model="num" style="display: none;">
<template>
  <el-checkbox-group v-model="checkList" @change="handleChange">
    {% for i in items %}
    <el-checkbox value={{ i.0 }} label="{{ i.1 }}"></el-checkbox>
    {% endfor %}
  </el-checkbox-group>
</template>
</div>


<script>
  var app = new Vue({
                      el: "#checkbox-widget-{{name}}",
                      delimiters:['${','}'],
                      data: {
                            checkList: {{values|safe}},
                            num:"{{value|safe}}"
                      },
                      methods:{
                        handleChange(value){
                          this.num = value;
                        }
                      }
                  })
   
</script>
<style type="text/css">
  #checkbox-widget-{{name}} .el-checkbox{
    width:auto;
  }
</style>
