<div id="multi_table_{{name}}">
        <textarea rows="3" cols="20" name="{{name}}" id="id_{{name}}" value="{{value}}" style="display:none">${content}</textarea>
        <el-row>
            <el-col span="24">
                <el-table size="mini" :data="master_user.data"  style="width: 100%" highlight-current-row>
                    <el-table-column type="index"></el-table-column>
                    <el-table-column v-for="(v, i) in master_user.columns" :prop="v.field" :label="v.title" :width="v.width">
                        <template slot-scope="scope">
                            <span v-if="scope.row.isSet">
                                <el-input size="mini" placeholder="请输入内容" v-model="master_user.sel[v.field]">
                                </el-input>
                            </span>
                            <span v-else>${scope.row[v.field]}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" width="100" fixed="right">
                        <template slot-scope="scope">
                            <span class="el-tag el-tag--info el-tag--mini" style="cursor: pointer;" @click="pwdChange(scope.row,scope.$index,true)">
                                ${scope.row.isSet?'保存':"修改"}
                            </span>
                            <span v-if="!scope.row.isSet" class="el-tag el-tag--danger el-tag--mini" style="cursor: pointer;"  @click="deleteChange(scope.row,scope.$index,false)">
                                删除
                            </span>
                            <span v-else class="el-tag  el-tag--mini" style="cursor: pointer;" @click="pwdChange(scope.row,scope.$index,false)">
                                取消
                            </span>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
            <el-col span="24">
                <div class="el-table-add-row" style="width: 99.2%;" @click="addMasterUser()"><span>+ 添加</span></div>
            </el-col>
        </el-row>

    </div>
 
    <script>
        //id生成工具 这个不用看 示例而已 模拟后台返回的id
        var generateId = {
            _count: 1,
            get(){return ((+new Date()) + "_" + (this._count++))}
        };
        //主要内容
        var app = new Vue({
            el: "#multi_table_{{name}}",
            delimiters:['${','}'],
            data: {
                master_user: {
                    sel: null,//选中行   
                    columns: {{columns|safe}},
                    data: {{values|safe}},
                },
                content:''
            },
            created: function(){
                this.content = JSON.parse(JSON.stringify(this.master_user.data));
            },
            methods: {
                //添加
                formatJson(){
                    this.content = JSON.parse(JSON.stringify(app.master_user.data));
                },
                addMasterUser() {
                    for (let i of app.master_user.data) {
                        if (i.isSet) return app.$message.warning("请先保存当前编辑项");
                    }
                    let j = { id: generateId.get(), "isSet": true};
                    app.master_user.data.push(j);
                    app.master_user.sel = JSON.parse(JSON.stringify(j));
                },
                //删除
                deleteChange(row, index, cg){
                    let data = JSON.parse(JSON.stringify(app.master_user.sel));
                    let tmp = [];
                    app.master_user.data.forEach(function(item, cindex){
                        if(item.id != row.id){
                            tmp.push(item)
                        }
                    })
                    app.master_user.data = tmp;
                    app.formatJson()
                },
                //修改
                pwdChange(row, index, cg) {
                    //点击修改 判断是否已经保存所有操作
                    for (let i of app.master_user.data) {
                        if (i.isSet && i.id != row.id) {
                            app.$message.warning("请先保存当前编辑项");
                            return false;
                        }
                    }
                    //是否是取消操作
                    if (!cg) {
                        if (!app.master_user.sel.id) app.master_user.data.splice(index, 1);
                        return row.isSet = !row.isSet;
                    }
                    //提交数据
                    if (row.isSet) {
                        //项目是模拟请求操作  自己修改下
                        (function () {
                            let data = JSON.parse(JSON.stringify(app.master_user.sel));
                            for (let k in data) row[k] = data[k];
                            app.$message({
                                            type: 'success',
                                            message: "保存成功!"
                                        });
                            //然后这边重新读取表格数据
                            row.isSet = false;
                            //row.id = index;
                            app.formatJson();
                        })();
                    } else {
                        app.master_user.sel = JSON.parse(JSON.stringify(row));
                        row.isSet = true;
                    }
                }
            }
        });
    </script>
 